.nav-menu {

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-items: center;
    width: 100%;
    min-height: 45px;
    font-size: 1rem;
    text-align: center;

}

@media ( min-width: 800px ) {

    .nav-menu {

        flex-direction: row;

    }

}

.nav-menu .nav-menu__summary > * {

    display: inline-block;
    margin: 0;
    font-size: 1rem;
    vertical-align: middle;

}

.nav-menu .nav-menu__details {

    width: 100%;
    padding: 8px;
    overflow: hidden;
    background-color: #333;
    border: 1px dotted #fff;
    cursor: pointer;

}

.nav-menu .nav {

    padding: 16px;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s linear .1s;

}

.nav-menu .nav-menu__details[open] .nav {

    visibility: visible;
    opacity: 1;

}

.nav-menu .nav > ul {

    margin: 0;
    padding: 0;
    list-style: none;

}

.nav-menu .nav a {

    display: block;
    color: #fff;
    font-weight: lighter;
    white-space: nowrap;

}

.nav-menu .nav a.nuxt-link-exact-active {

    font-weight: bolder;
    text-decoration: none;

}
