.nav-menu {

    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: flex;
    flex: 1 1 100%;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    height: 0;
    padding: 0;

}

.nav-menu .nav {

    padding: 16px;

}

.nav-menu .nav > ul {

    margin: 0;
    padding: 0;
    list-style: none;

}

.nav-menu .nav a {

    color: #fff;

}

.nav-menu .nav-2 {

    text-align: right;

}
