.nav-menu {

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex: 1 1 100%;
    flex-direction: row;
    align-items: flex-start;
    font-size: 1rem;
    text-align: center;

}

.nav-menu .nav-menu__summary > * {

    display: inline-block;
    margin: 0;
    font-size: 1rem;
    vertical-align: middle;

}

.nav-menu .nav-menu__details {

    width: 100%;
    padding: 8px;
    overflow: hidden;
    background-color: #333;
    border: 1px dotted #fff;

}

.nav-menu .nav {

    padding: 16px;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s linear .1s;

}

.nav-menu .nav-menu__details[open] .nav {

    visibility: visible;
    opacity: 1;

}

.nav-menu .nav > ul {

    margin: 0;
    padding: 0;
    list-style: none;

}

.nav-menu .nav a {

    display: block;
    color: #fff;
    font-weight: lighter;
    white-space: nowrap;

}
