.nav-menu {

    position: fixed;
    bottom: 0;
    z-index: 100;
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    justify-items: center;
    width: 100%;
    max-width: 100%;
    font-size: 1.1rem;
    text-align: left;

}

@media screen and ( min-width: 600px ) {

    .nav-menu {

        right: 8px;
        bottom: 8px;
        max-width: 381px;

    }

}

.nav-menu .nav-menu__summary > * {

    display: inline-block;
    margin: 0;
    font-size: 1.2rem;

}

.nav-menu .nav-menu__details {

    width: 100%;
    padding: 8px;
    background-color: #333;
    border: 1px dotted #fff;
    cursor: pointer;

}

.nav-menu .nav-menu__details.father {

    padding: 8px;

}

.nav-menu .nav-menu__details.father > summary {

    padding: 0 0 4px;

}

.nav-menu .nav {

    padding: 8px 16px;

}

.nav-menu .nav > ul {

    margin: 0;
    padding: 0;
    list-style: none;

}

.nav-menu .nav a {

    display: block;
    color: #fff;
    font-weight: lighter;
    white-space: nowrap;
    text-decoration: none;

}

.nav-menu .nav a.nuxt-link-exact-active {

    font-weight: bolder;
    text-decoration: line-through;

}
