body {

    position: relative;

}

.canvas-container {

    overflow: hidden;

}

canvas {

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    display: block;
    max-width: 100%;
    max-height: 100vh;
    margin: 0 auto;
    transform: translate3d( 0, 0, 0 );

}
