:root {

    font-size: 16px;

}

* {

    min-width: 0;

}

html,
body,
body > div,
body > div > div:not(.dg.ac),
.layout,
main {

    min-height: 100vh;
    margin: 0;
    padding: 0;

}

body {

    color: #333;

    line-height: 1.5;

}

.container {

    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    min-height: 100vh;
    margin: 0 auto;

}

.container:not(.readme) {

    overflow: hidden;

}

.readme {

    min-height: 100vh;

}

.markdown-body {

    width: 736px;
    max-width: 100%;
    padding: 0 36px;

}

h1 {

    font-size: 2em;

}

code {

    padding: 0 2px;
    color: #333;
    background: #f8f8f8;

}

blockquote {

    margin-left: 0;
    padding: 0 1rem;
    color: #819198;
    border-left: .3rem solid #dce6f0;

}

.absolute {

    position: absolute;

}

.z-index--minus-1 {

    z-index: -1;

}

.z-index--1 {

    z-index: 1;

}

a {

    color: #00bfff;

}

.text--center {

    text-align: center;

}

.text--red {

    color: #ff1e00;

}

.no-pointer-event {

    pointer-events: none;

}
