:root {

    font-size: 16px;

}

* {

    min-width: 0;

}

html,
body {

    margin: 0;
    padding: 0;

}

body {

    position: relative;
    color: #333;
    line-height: 1.5;

}

.container {

    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;

}

main {

    min-height: 100vh;

}

h1 {

    font-size: 2em;

}

.absolute {

    position: absolute;

}

.z-index--minus-1 {

    z-index: -1;

}

.z-index--1 {

    z-index: 1;

}

a {

    color: #00bfff;

}

.text--center {

    text-align: center;

}

.text--red {

    color: #ff1e00;

}

.no-pointer-event {

    pointer-events: none;

}

.cursor--pointer {

    cursor: pointer;

}

.pin-r {

    right: 16px;

}

.pin-b {

    bottom: 16px;

}
