:root {

    font-size: 16px;

}

* {

    min-width: 0;

}

html,
body {

    margin: 0;
    padding: 0;
    overflow-x: hidden;

}

body {

    position: relative;
    color: #333;
    line-height: 1.5;

}

.container {

    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;

}

img {

    width: auto;
    max-width: 100%;
    height: auto;

}

main {

    min-height: 100vh;

}

h1 {

    font-size: 2em;

}

video {

    display: block;
    margin: 0;
    padding: 0;

}

label {

    display: block;
    width: 100%;
    cursor: pointer;

}

button {

    width: 100%;
    max-width: 354px;
    margin: 16px auto;
    padding: 8px;
    color: #f05;
    font-weight: bold;
    line-height: 1.36;
    text-align: center;
    background-color: #f3f0f1;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    opacity: .9;
    transition: all .27s ease-in-out;
    appearance: none;

}

button:hover,
button:active,
button:focus {

    opacity: 1;

}

.opacity-90 {

    opacity: .9 !important;

}

.w-full {

    width: 100%;

}

.w-screen {

    width: 100vw;

}

.h-screen {

    height: 100vh;

}

.absolute {

    position: absolute;

}

.font-bold {

    font-weight: bold;

}

.z-index--minus-1 {

    z-index: -1;

}

.z-index--1 {

    z-index: 1;

}

.z-index--2 {

    z-index: 2;

}

a {

    color: #00bfff;

}

.text--center {

    text-align: center;

}

.text--red {

    color: #ff1e00;

}

.no-pointer-event {

    pointer-events: none;

}

.cursor--pointer {

    cursor: pointer;

}

.pin {

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

}

.pin-r {

    right: 16px;

}

.pin-b {

    bottom: 100px;

}

@media and screen ( min-width: 600px ) {


    .pin-b {

        bottom: 16px;

    }

}
